.SkillPage {
  margin-top: -2rem;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("./markus-spiske-qjnAnF0jIGk-unsplash__compressed.jpg");
}

.SkillPage h2 {
  margin-bottom: 32px;
  padding: 0;
  
  color: white;
}