.SkillPage {
  padding-top: 100px;
  padding-bottom: 100px;
}

.SkillPage h2 {
  margin-bottom: 32px;
  padding: 0; 
  color: white;
}

.Skill-parallax {
  margin-top: -2rem;
  /* The image used */
  background-image: url("../img/markus-spiske-qjnAnF0jIGk-unsplash__compressed.jpg");

  /* Set a specific height */
  height: 80vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}